/* helpers */
main {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 2%;
  padding-bottom: 3%;
}

h3 {
  font-size: 23px;
  text-transform: uppercase;
  padding: 1% 0;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 2%;
}

p {
  font-size: 15px;
}

.fa-solid,
.fa-brands {
  color: #c3cfdb;
}

/* left */
.left {
  width: 40vw;
  padding-left: 2%;
  padding-right: 2%;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jenny {
  width: 60%;
  border-radius: 100%;
  padding-bottom: 4%;
}
/* contact */

.phone {
  display: flex;
}

.phone p {
  padding-left: 5%;
}

.mail {
  display: flex;
}

.mail p {
  padding-left: 5%;
}

.address {
  display: flex;
}

.address p {
  padding-left: 24.2656px;
}

.linkedin {
  display: flex;
  justify-content: center;
}
.linkedin a {
  /* padding-left: 6%;
  padding-bottom: 3%; */
  text-decoration: none;
}

/* langages */

progress {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  border-radius: 6px;
  background-color: white;
}

::-webkit-progress-value {
  border-radius: 6px;
  background-color: #dae6f2;
}

.level1 {
  display: flex;
  gap: 17.5%;
}

.level2 {
  display: flex;
  gap: 20%;
}

.level3 {
  display: flex;
  gap: 6%;
}

.level4 {
  display: flex;
  gap: 21%;
}

/* centres d'intérêt */

.manette {
  width: 100%;
}

.cinema {
  width: 100%;
}

.two-line img {
  width: 25%;
  margin-left: 33%;
}

.line1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
  width: 40%;
}

.line2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

/* right */
.right {
  width: 70vw;
  background-color: #dae6f2;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 20%;
}

.right h3 {
  background-color: white;
  padding: 2% 25% 2% 5%;
  color: rgb(26, 26, 104);
}

.two-p {
  display: flex;
}

.p-bold {
  font-weight: bold;
}

.p-gray {
  opacity: 50%;
}
